.user {
  flex: 4;
  padding: 20px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.userAddButton {
  width: 80px;
  padding: 5px;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.userAddButton:hover {
  background-color: #003d82;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.userShow,
.userUpdate {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.userShowIcon,
.userShowInfoTitle {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.userShowIcon {
  margin-right: 10px;
  color: #0056b3;
}

.userUpdateForm {
  display: flex;
  flex-direction: column;
}

.userUpdateItem {
  margin-top: 10px;
}

.userUpdateItem>label {
  margin-bottom: 5px;
  color: gray;
  font-weight: 600;
}

.userUpdateInput,
.userUpdateButton {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.userUpdateInput {
  border: 1px solid #ddd;
}

.userUpdateButton {
  width: 100%;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.userUpdateButton:hover {
  background-color: #003d82;
}

@media (max-width: 768px) {
  .userContainer {
    flex-direction: column;
  }
}