.widgetLg {
  flex: 2;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: #fff;
}

.widgetLgTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 0 15px;
  border-collapse: separate;
}

.widgetLgTh {
  text-align: left;
  font-size: 16px;
  color: #555;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 400;
  color: #333;
}

.widgetLgButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.widgetLgButton.approved {
  background-color: #e5faf2;
  color: #3bb077;
}

.widgetLgButton.declined {
  background-color: #fff0f1;
  color: #d95087;
}

.widgetLgButton.pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

.widgetLgButton:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {

  .widgetLgTable,
  .widgetLgTh,
  .widgetLgUser,
  .widgetLgDate,
  .widgetLgAmount {
    font-size: 14px;
  }

  .widgetLgImg {
    width: 35px;
    height: 35px;
  }

  .widgetLgButton {
    padding: 3px 5px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .widgetLg {
    padding: 10px;
  }

  .widgetLgTitle {
    font-size: 20px;
  }

  .widgetLgTable {
    border-spacing: 0 10px;
  }

  .widgetLgButton {
    font-size: 10px;
  }
}