.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: fixed;
  top: 50px;
  width: 250px;
  overflow: hidden;
  transition: all 0.3s ease;
  left: -250px;
}

.sidebar.open {
  left: 0;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(230, 230, 250);
  transform: translateY(-5px);
}

.link {
  text-decoration: none;
  color: inherit;
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 22px;
  transition: transform 0.3s ease;
}

.sidebarListItem:hover .sidebarIcon {
  transform: rotate(20deg);
}