.Containers-categories {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .Container-categories {
    padding: 0px;
    flex-direction: column;
  }
}