.widgetSm {
    flex: 1;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
}

.widgetSmTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.widgetSmList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid #eee;
    /* Línea divisoria sutil */
    padding-bottom: 15px;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
}

.widgetSmUsername {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.widgetSmButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 5px 8px;
    background-color: #e7e9f3;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.widgetSmButton:hover {
    background-color: #d1d3e2;
}

.widgetSmIcon {
    font-size: 18px;
    margin-right: 5px;
}